{{- $sign := promptString "sign git commits" -}}
{{- $coc := promptString "install Vim coc plugin" -}}
{{- $golang := promptString "install Vim golang plugin" -}}
{{- $tmp := promptString "install Tmux plugin manager" -}}

[template]
options=["missingkey=zero"]

[data.git]
  gpgKey = 'B4C9C5EE9F63A5B7!'
  signCommit = {{ $sign }}

[data.tmux]
  tpm = true
  italics = true

[data.vim]
  coc = {{ $coc }}
  golang = {{ $golang }}

[data.mygpg]
  maxttl = 3600
  ttl = 600
{{- if eq .chezmoi.os "darwin" }}
  pinentry = "/usr/local/bin/pinentry-mac"
{{- else }}
  pinentry = "/usr/bin/pinentry"
{{- end }}

[data.mywsl]
  yubipasstrough = false
