{{- $sign := promptString "sign commits" -}}
{{- $coc := promptString "install coc plugin" -}}
[data.git]
  gpgKey = 'B4C9C5EE9F63A5B7!'
  signCommit = {{ $sign }}

[data.tmux]
  tpm = true
  italics = true

[data.vim]
  coc = {{ $coco }}
