{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $computerName := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName = output "scutil" "--get" "ComputerName" | trim -}}
{{- end -}}
{{- $signcommit := promptBoolOnce . "signcommit" "Sign gpg commits" -}}

{{- $brewPersonal := false -}}
{{- $brewWork := false -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $brewPersonal = promptBoolOnce . "brewPersonal" "Add brew personal file" -}}
{{-   $brewWork = promptBoolOnce . "brewWork" "Add brew work file" -}}
{{- end -}}

[template]
options=["missingkey=zero"]

[data]
osid = {{ $osid | quote }}
computerName = {{ $computerName | quote }}

[data.brew]
personal = {{ $brewPersonal }}
work = {{ $brewWork }}

[data.git]
gpgkey = '0x3644EC81422633E4'
signcommit = {{ $signcommit | quote }}

[data.ssh]
domains = []
maxDot = 2
fallbackLocal = true
[data.ssh.serverAlive]
interval = 90
count = 5

[data.tmux]
tpm = true
italics = true

[data.mygpg]
maxttl = 3600
ttl = 600
{{- if eq .chezmoi.os "darwin" }}
{{-   if eq .chezmoi.arch "arm64" }}
pinentry = "/opt/homebrew/bin/pinentry-mac"
{{-   else }}
pinentry = "/usr/local/bin/pinentry-mac"
{{-   end }}
{{- else }}
pinentry = "/usr/bin/pinentry"
{{- end }}
