[core]
    autocrlf = input
    pager = less -FRX
    excludesFile = ~/.config/git/ignore

[init]
    defaultBranch = main

[alias]
    plog = log --pretty=oneline --abbrev-commit --graph --decorate --all
    co = checkout
    br = branch
    ci = commit
    st = status
    unstage = reset HEAD --
    ignored = ls-files --other --ignored --exclude-standard

[user]
    name = Alessandro Cunsolo
    email = alessandro.cunsolo@gmail.com
    signingkey = {{ .git.gpgkey }}

[pull]
    ff = only

[commit]
    gpgsign = {{ .git.signcommit }}

[tag]
    gpgsign = {{ .git.signcommit }}

[diff "ansible-vault"]
   textconv = ansible-vault view

[diff "sopsdiffer"]
    textconv = sops -d

[include]
    path = ~/.gitconfig.local
