{{- if .ssh.domains -}}
CanonicalizeHostname yes
CanonicalDomains {{ .ssh.domains | join " " }}
{{ end -}}
CanonicalizeMaxDots {{ .ssh.maxDot }}
CanonicalizeFallbackLocal {{ .ssh.fallbackLocal }}
ForwardAgent no
AddKeysToAgent yes
ServerAliveInterval {{ .ssh.serverAlive.interval }}
ServerAliveCountMax {{ .ssh.serverAlive.count }}

Include config.d/*

# vim: set ft=ssh_config
