/* Colors */
@define-color bg-bar rgba(63, 63, 63, 0.9);
@define-color bg-buttons rgba(127, 132, 156, 0.5);
@define-color bg-tooltip rgba(24, 24, 37, 0.7);
@define-color selected-workspace rgba(203, 166, 247, 0.5);
@define-color alert rgba(243, 50, 50, 0.5);
@define-color idle_active rgba(0, 255, 0, 0.5);
@define-color border #6c7086;
@define-color text #cdd6f4;
@define-color text-focused #1e1e2e;

/* Bar style */
* {
    border: none;
    border-radius: 10;
    min-height: 0;
    font-family: "FiraCode Nerd Font";
    font-weight: 500;
    font-size: 12px;
    padding: 0;
}

window#waybar {
    background-color: @bg-bar;
}

tooltip {
    background-color: @bg-tooltip;
    border: 2px solid @border;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#mode,
#window,
#idle_inhibitor,
#custom-power,
#temperature,
#scratchpad,
#wireplumber {
    background-color: @bg-buttons;
    border: 2px solid @border;
    /* top right bottom left */
    margin: 6px 6px 6px 0px;
    padding: 4px 8px;
    color: @text;
}

#mode,
#scratchpad,
#workspaces {
    background-color: @bg-buttons;
    margin: 6px 0px 6px 6px;
    border: 2px solid @border;
    border-radius: 7;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 8px;
    color: @text;
}

#workspaces button.focused {
    background-color: @selected-workspace;
    color: @text-focused;
}

#workspaces button.urgent {
    background-color: @alert;
}

#mode {
    border-radius: 7;
    font-style: oblique;
    margin: 6px 0px 6px 6px;
    border: 2px solid @border;
    color: @text;
}

#window {
    background-color: transparent;
    border: none;
}

#temperature.critical,
#cpu.critical,
#memory.critical {
    background-color: @alert;
    border: 2px solid @border;
    color: white;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: @alert;
    border: 2px solid @border;
    color: @alert;
}

#idle_inhibitor {
    /* first element */
    padding-right: 16px;
}


#idle_inhibitor.activated {
    background-color: @idle_active;
}

#custom-power {
    background-color: @alert;
    color: white;
    /* last element */
    padding-left: 12px;
}
