[user]
    name = Alessandro Cunsolo
    email = alessandro.cunsolo@gmail.com
    signingkey = {{ .git.gpgkey }}

[core]
    autocrlf = input
    pager = less -FRX
    excludesFile = ~/.config/git/ignore

[init]
    defaultBranch = main

[alias]
    plog = log --pretty=oneline --abbrev-commit --graph --decorate --all
    co = checkout
    br = branch
    ci = commit
    st = status
    unstage = reset HEAD --
    ignored = ls-files --other --ignored --exclude-standard

[pull]
    ff = only
    rebase = true

[commit]
    gpgsign = {{ .git.signcommit }}

[tag]
    gpgsign = {{ .git.signcommit }}
    sort = version:refname

[coulmn]
    ui = auto

[branch]
    sort = -committerdate

[fetch]
    prune = true

[rebase]
    updateRefs = true

[rerere]
    enabled = true
    autoupdate = true

[merge]
    conflictstyle = zdiff3

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[diff "ansible-vault"]
   textconv = ansible-vault view

[diff "sopsdiffer"]
    textconv = sops -d

[include]
    path = local

# vim: ft=gitconfig
