"$schema" = 'https://starship.rs/config-schema.json'

format = """
$jobs\
$battery\
$time\
$username\
$hostname\
$localip\
$shlvl\
$os\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$status\
$container\
$netns\
$shell\
$fill \
$singularity\
$kubernetes\
$vcsh\
$fossil_branch\
$fossil_metrics\
$hg_branch\
$hg_state\
$pijul_channel\
$docker_context\
$package\
$c\
$cmake\
$cobol\
$daml\
$dart\
$deno\
$dotnet\
$elixir\
$elm\
$erlang\
$fennel\
$fortran\
$gleam\
$golang\
$guix_shell\
$haskell\
$haxe\
$helm\
$java\
$julia\
$kotlin\
$gradle\
$lua\
$nim\
$nodejs\
$ocaml\
$opa\
$perl\
$php\
$pulumi\
$purescript\
$python\
$quarto\
$raku\
$rlang\
$red\
$ruby\
$rust\
$scala\
$solidity\
$swift\
$terraform\
$typst\
$vlang\
$vagrant\
$zig\
$buf\
$nix_shell\
$conda\
$meson\
$spack\
$memory_usage\
$aws\
$gcloud\
$openstack\
$azure\
$nats\
$direnv\
$env_var\
$mise\
$crystal\
$custom\
$cmd_duration\
$line_break\
$sudo\
$character"""

add_newline = false
continuation_prompt = "[󱞩 ](bold green) "

[aws]
symbol = " "

[[battery.display]]
threshold = 15

[directory]
read_only = " 󰌾"
style = 'bold blue'
truncation_length = 3
truncation_symbol = '…/'
truncate_to_repo = true

[cmd_duration]
min_time = 30_000

[direnv]
disabled = false

[docker_context]
symbol = " "

[fill]
symbol = ' '

[git_branch]
symbol = " "
style = "bold green"
# ignore_branches = ['master', 'main']

[git_commit]
tag_symbol = '  '
tag_disabled = false

[git_metrics]
disabled = true

[golang]
symbol = " "

[gradle]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[jobs]
symbol = ' '

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[nodejs]
symbol = " "

[os]
disabled = false
style = 'bold white'

[os.symbols]
Alpaquita = "  "
Alpine = "  "
AlmaLinux = "  "
Amazon = "  "
Android = "  "
AOSC = "  "
Arch = "  "
Artix = "  "
CachyOS = "  "
CentOS = "  "
Debian = "  "
DragonFly = "  "
Emscripten = "  "
EndeavourOS = "  "
Fedora = "  "
FreeBSD = "  "
Garuda = "󰛓  "
Gentoo = "  "
HardenedBSD = "󰞌  "
Illumos = "󰈸  "
Kali = "  "
Linux = "  "
Mabox = "  "
Macos = "  "
Manjaro = "  "
Mariner = "  "
MidnightBSD = "  "
Mint = "  "
NetBSD = "  "
NixOS = "  "
Nobara = "  "
OpenBSD = "󰈺  "
openSUSE = "  "
OracleLinux = "󰌷  "
Pop = "  "
Raspbian = "  "
Redhat = "  "
RedHatEnterprise = "  "
RockyLinux = "  "
Redox = "󰀘  "
Solus = "󰠳  "
SUSE = "  "
Ubuntu = "  "
Unknown = "  "
Void = "  "
Windows = "󰍲  "

[package]
symbol = "󰏗 "

[python]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[status]
symbol = " "

[sudo]
disabled = true
symbol = '󰐣 '
style = 'bold yellow'
format = '[$symbol]($style)'
